body {
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(./img/pattern-background-desktop.svg);   
    height: 42vh;
    background-position: 50%;
    background-repeat: repeat-x;
    background-color: var(--pale-blue);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
} 

.banner { 
    width: 400px;
    margin: 80px auto;
    border-radius: 15px;
    background-color: white;
}

.banner img {
    border-radius: 15px 15px 0 0;  
    height: 200px;
    width: 100%;
    display: block;
    object-fit: cover;
}

.banner-title {
    margin: 20px;
    text-align: center;
    font-size: 15px;
    
}

.texts {
    font-size: 15px;
    text-align: center;
    margin: 1rem 0;
    line-height: 1.5;
    color: var(--desaturated-blue);
}

.banner-titles {
    color: var(--dark-blue);
    font-weight: 800;
}

h2 {

}